:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}

@keyframes slideUp {
    0% {
    transform: translateY(50px);
    opacity: 0;
}
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slider-container {
    width: 90%;
    margin: auto;
    position: relative;
    overflow: hidden; /* Ubah dari hidden ke visible agar tombol terlihat */
    padding: 0 50px;
    margin-bottom: 50px;
}

.slick-prev,
.slick-next {
    z-index: 2; /* Naikkan z-index agar tombol berada di atas konten */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.slick-prev {
    left: -50px; /* Atur tombol prev lebih ke kiri agar keluar dari slider */
}

.slick-next {
    right: -50px; /* Atur tombol next lebih ke kanan agar keluar dari slider */
}



.card {
    margin: 0 10px;
    transition: transform 0.2s;
    width: 100%; /* Ensure cards take full width of their parent */
}


.card.show {
    animation: slideUp 0.5s forwards;
}

.card:hover {
    transform: scale(1.05); /* Slightly zoom the card on hover */
}

.card-title {
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}

.card-text {
    text-align: center;
    padding-bottom: 10px;
}

.slick-slide {
    transition: transform 0.5s ease-in-out; /* Efek animasi saat swipe */
}

.slick-list {
    overflow: hidden;
    touch-action: pan-y; /* Membuat swipe lebih mulus pada perangkat sentuh */
}

.slick-slide img {
pointer-events: none; /* Agar swipe tidak terhalang oleh klik pada gambar */
}

  /* Hapus   efek cursor grab */
.slick-slider {
    cursor: default;
}

.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}

.wow {
    visibility: hidden;
}

@media (min-width: 576px) {
    .kotak {
    margin-bottom: 2rem;
    }
    .shadow{
    display: block;
    }
    
}

@media (min-width: 768px) {
    .kotak {
    margin-bottom: 2rem;
    }
}

@media (min-width: 992px) {
    .kotak {
    margin-bottom: 2rem;
    }
}